module.exports = {
    port: 3212,
    intervalBetweenRequests: 7,
    updateInterval: 10000,
    listRefreshInterval: 1800000,
    url: "https://reddark.io/",
    "reloadClientsFollowingDeployment": true,
    "allowedHourlyStatusChanges": 3
}
